clboss
dev-boltz-api
*.o
*.la
*.lo
*~
*.in
*.trs
*.scan
config.status
config.h
configure
*.log
*.m4
libtool
INSTALL
Makefile
TAGS
autom4te*
m4
stamp-*
auxdir
.deps
.dirstamp
.libs

test_*
!test_*.cpp
