/clboss
create-tarball
dev-boltz-api
dev-boltz
dev-proxy-connect
data.dev-boltz
*.o
*.la
*.lo
*~
Makefile.in
config.h.in
*.trs
*.scan
config.status
config.h
configure
*.log
*.m4
!external/libsodium/m4/*.m4
!external/secp256k1/build-aux/m4/*.m4
libtool
INSTALL
Makefile
TAGS
autom4te*
m4
!external/libsodium/m4
!external/secp256k1/build-aux/m4
stamp-*
auxdir
.deps
.dirstamp
.libs

test_*
!test_*.cpp
!test_*.c
/commit_hash.h
